<!--This Screen should be for logging in.-->
@model IceShopWeb.Models.AuthPack
@{
    ViewData["Title"] = "Manager Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool writeRedirectError = false;
    if (ViewData["Redirect"] != null)
    {
        writeRedirectError = true;
    }
    string redirectString = $"<h5 class='text-danger text-capitalize'>{ViewData["Redirect"]}</h5>";

}


<div class="text-center justify-content-center">
    <h1>@ViewData["Title"]</h1>

    <h4>Login</h4>
    <h5 class='text-danger text-capitalize'>@ViewData["Redirect"]</h5>
    @{ if (writeRedirectError)
        { @Html.DisplayText(redirectString)} }
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                @*<input type="hidden" asp-for="Id" />*@
                @await Html.PartialAsync("_AuthFormElements", Model)
            </form>
        </div>
    </div>

    <div>
        <button class="btn btn-primary text-white float-left" onclick="location.href='@Url.Action("AddManager", "Manager")'">
            Sign up.
        </button>
        <button class="btn btn-primary text-white float-left" onclick="location.href='@Url.Action("Login", "Home")'">
            Login as Customer.
        </button>
    </div>
</div>