@model InventoryLineItem


<div class="card" style="width: 8rem">
    <div class="card-body">
        <h3>@Html.DisplayFor(model => model.Product.Name)</h3>
        <div class="row">
            <div class="col">
                <h5 class="card-text text-md-center">Product Type@*Html.DisplayNameFor(model => model.Product.TypeOfProductAsString)*@</h5>
                <p class="card-text text-md-center">@Html.DisplayFor(model => model.Product.TypeOfProductAsString)</p>
            </div>
            <div class="col">
                <h5 class="card-text text-md-center">@Html.DisplayNameFor(model => model.Product.Price)</h5>
                <p class="card-text text-md-center">$@Html.DisplayFor(model => model.Product.Price)</p>
            </div>
            <div class="col">
                <p class="card-text text-md-center">Quantity@*Html.DisplayNameFor(model => model.ProductQuantity)*@</p>
                <p class="card-text text-md-center">@Html.DisplayFor(model => model.ProductQuantity)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @*@Html.ActionLink("Remove item from Cart", "RemoveItemFromCart", "Customer", Model)*@
                <button class="btn btn-primary text-white float-none" onclick="location.href='@Url.Action("RemoveItemFromCart", "Customer", Model)'">
                    Remove item from Cart
                </button>
            </div>
        </div>

    </div>
</div>
