@model List<IceShopWeb.Models.Order>
@{
    ViewData["Title"] = "Get Order History";
    Layout = "_Layout";
    var orders = Model;
    
}



<div class="text-center">

    <h1>Order History</h1>

    <h4>Sort orders...</h4>
    @Html.ActionLink("By Date Placed, descending.", "GetOrderHistory", "Customer", new { sortBy = 0 })
    @Html.ActionLink("By Date Placed, ascending.", "GetOrderHistory", "Customer", new { sortBy = 1 })
    @Html.ActionLink("By Price, descending.", "GetOrderHistory", "Customer", new { sortBy = 2 })
    @Html.ActionLink("By Price, ascending.", "GetOrderHistory", "Customer", new { sortBy = 3 })
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Subtotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().TimeOrderWasPlaced)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in orders)
                {
                    // I manually add the customer as a model here, rather than the Model, which is a collection of customers.
                    // I need only one, not a list.

                    @await Html.PartialAsync($"_OrderInfoInTableRow", order);
                }
            }

        </tbody>
    </table>


</div>