<!--This Screen should be for logging in.-->
@model IceShopWeb.Models.AuthPack
@{
    ViewData["Title"] = "Ice Shop Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool writeRedirectError = false;
    if (ViewData["Redirect"] != null)
    {
        writeRedirectError = true;
    }
    string redirectString = $"<h5 class='text-danger text-capitalize'>{ViewData["Redirect"]}</h5>";

}


<div class="text-center mx-auto">
    <h1>@ViewData["Title"]</h1>

    <h5 class='text-danger text-capitalize'>@ViewData["Redirect"]</h5>
    @{ if (writeRedirectError)
        { @Html.DisplayText(redirectString)} }
    <hr />
    <div class="">
        <div class="">
            <form class="justify-content-center mx-sm-auto" asp-action="Login">
                @*<input type="hidden" asp-for="Id" />*@
                @await Html.PartialAsync("_AuthFormElements", Model)
            </form>
        </div>
    </div>

    <div class="">
        <button class="btn btn-secondary text-white" onclick="location.href='@Url.Action("AddCustomer", "Customer")'">
            Sign up.
        </button>
    </div>
    <div class="">
        @*Html.ActionLink("Sign up.", "AddCustomer", "Customer")*@
        <button class="btn btn-secondary text-white " onclick="location.href='@Url.Action("Login", "Manager")'">
            Login as Manager.
        </button>
        @*Html.ActionLink("Login as Manager.", "Login", "Manager")*@
    </div>

</div>



@{
    //await Html.PartialAsync("./_SampleIndexStuff.cshtml")
}